env/
*.pyc
*.bak
.idea/*
.coverage
*,cover
htmlcov/
test/compare.csv
run.build/
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.tox
.cache
.eggs
**.npy
**.csv
**.dot
**.DS_Store
**.orig