[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.*"
funcsigs = "==1.0.*"
llvmlite = "==0.*"
pynose = "==1.5.*"
numpy = "==1.*"
numba = "==0.*"

[dev-packages]
build = "*"
twine = "*"

[requires]
python_version = "3.10"
