[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2021.5.30"
funcsigs = "==1.0.2"
llvmlite = "==0.38.*"
pynose = "==1.5.*"
numpy = "==1.21.*"
numba = "==0.55.*"

[dev-packages]
build = "*"
twine = "*"

[requires]
python_version = "3.10"
